@page
@model HRManager
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div> 

    <h1>Weather Forecast</h1>
    <ul>
        @if(Model.weatherForecastItems!=null)
        {
            @foreach(var item in Model.weatherForecastItems)
        {
            <li>@item.Date.ToLongDateString() - @item.Summary</li>
        }
        }
        
    </ul>
</div>